<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>user.web.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
    <url-pattern>/EventServlet/list</url-pattern>
    <url-pattern>/EventServlet/new</url-pattern>
    <url-pattern>/EventServlet/insert</url-pattern>
    <url-pattern>/EventServlet/delete</url-pattern>
    <url-pattern>/EventServlet/edit</url-pattern>
    <url-pattern>/EventServlet/update</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>ArtistServlet</display-name>
    <servlet-name>ArtistServlet</servlet-name>
    <servlet-class>user.web.servlet.ArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistServlet</servlet-name>
    <url-pattern>/ArtistServlet</url-pattern>
    <url-pattern>/ArtistServlet/list</url-pattern>
    <url-pattern>/ArtistServlet/new</url-pattern>
    <url-pattern>/ArtistServlet/insert</url-pattern>
    <url-pattern>/ArtistServlet/delete</url-pattern>
    <url-pattern>/ArtistServlet/edit</url-pattern>
    <url-pattern>/ArtistServlet/update</url-pattern>
  </servlet-mapping>  
   <servlet>
    <description></description>
    <display-name>MusicServlet</display-name>
    <servlet-name>MusicServlet</servlet-name>
    <servlet-class>user.web.servlet.MusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicServlet</servlet-name>
    <url-pattern>/MusicServlet</url-pattern>
    <url-pattern>/MusicServlet/list</url-pattern>
    <url-pattern>/MusicServlet/new</url-pattern>
    <url-pattern>/MusicServlet/insert</url-pattern>
    <url-pattern>/MusicServlet/delete</url-pattern>
    <url-pattern>/MusicServlet/edit</url-pattern>
    <url-pattern>/MusicServlet/update</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>InitiServlet</display-name>
    <servlet-name>InitiServlet</servlet-name>
    <servlet-class>user.web.servlet.InitiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitiServlet</servlet-name>
    <url-pattern>/InitiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
